<!-- navigation bar 추가 -->
    <style>

    /* Change the link color on hover */
    li a:hover {
      background-color: #555;
      color: white;
    }
    </style>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WEb RTC Project 4</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/">RTC <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/board/group_list">Drone list <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
